<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <title>Help & Contact</title>
  <link rel="stylesheet" href="../styles/help.css" />
</head>

<body>

  <!-- top-nav -->

  <div class="first-nav">
    <div class="first-nav-sub">
      <p>
        Hi! <a href="signIn.html"> Sign in</a> or
        <a href="registration.html">register</a>
      </p>
      <a href="DailyDeals.html">Daily Deals</a>
      <a href="help.html">Help & Contact</a>
    </div>
    <div class="first-nav-sub">
      <a href="Sell.html">Sell</a>
      <div class="wth-lst">
        <a href="#">Watchlist<i class="ri-arrow-down-s-line"></i></a>
        <div class="watch-lst">
          <h2>
            Please <a href="signIn.html">sign in</a> to view items you are
            watching.
          </h2>
        </div>
      </div>

      <div class="my-ebay">
        <p>My eBay<i class="ri-arrow-down-s-line"></i></p>
        <div class="Mebay-ctg-box">
          <table class="Mebay-ctg">
            <tbody>
              <tr>
                <td class="Mebay-ctg-td">
                  <ul>
                    <li><a href="#">Summary</a></li>
                    <li><a href="#">Recently Viewed</a></li>
                    <li><a href="#">Bids/Offers</a></li>
                    <li><a href="#">Watchlist</a></li>
                    <li><a href="#">Purchase History</a></li>
                    <li><a href="#">Buy Again</a></li>
                    <li><a href="Sell.html">Selling</a></li>
                    <li><a href="#">Saved Searches</a></li>
                    <li><a href="#">Saved Sellers</a></li>
                    <li><a href="#">Messages</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="ntf-sec">
        <a href="#"><i class="ri-notification-3-line"></i></a>
        <div class="ntf-box">
          <h2>
            Please <a href="signIn.html">sign in</a> to view notifications.
          </h2>
        </div>
      </div>

      <div class="cart-sec">
        <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
        <div class="cart-box">
          <h2>Your cart is empty</h2>
          <h3>Time to start shopping!</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-nav">
    <div><img class="logo" src="./assets/images/eBay-Logo.png" alt="ebaylogo" /></div>
    <span class="customer-font">Customer Service</span>
  </div>

  <div class="search-container">
    <p><a href="index.html">Home</a> > Customer Service</p>
    <h1>How can we help you today?</h1>
    <div class="search-fild">
      <input placeholder="Search eBay Help..." class="ebay-input" type="text" name="" id="" />
      <div class="icon-bg">
        <i class="ri-search-line"></i>
      </div>
    </div>
  </div>

  <div class="left-margin cards-container">
    <div class="signin-card">
      <h2>Get personalized help and see your recent orders</h2>
      <input class="search-btn" type="button" value="Sign in" />
      <p>
        Don't have an account?
        <span class="nav-blue">Register Now <i class="fa-solid fa-arrow-right"></i></span>
      </p>
    </div>

    <div class="help-card">
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">Buying as a guest</h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">
            Get help with an item that hasn't arrived
          </h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">Get help with a hacked account</h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
    </div>

    <div class="help-card card-border">
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">Get help if you bought as a guest</h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">Creating an eBay account</h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
      <div class="card-item">
        <div class="card-content">
          <h2 class="card-content-head">Reset your password</h2>
          <p class="card-content-body">Popular article</p>
        </div>
        <div><i class="fa-solid fa-arrow-right nav-blue"></i></div>
      </div>
    </div>
  </div>

  <div class="articles-bg">
    <div class="left-margin">
      <h2>Browser Help Articles</h2>
      <div class="articles-container">
        <div class="article-container">
          <div>
            <i class="fa-solid fa-cart-shopping nav-blue icon-size"></i>
            <p>Buying</p>
          </div>
        </div>
        <div class="article-container">
          <div>
            <i class="fa-solid fa-tag nav-blue icon-size"></i>
            <p>Selling</p>
          </div>
        </div>
        <div class="article-container">
          <div>
            <i class="fa-regular fa-user nav-blue icon-size"></i>
            <p>Account</p>
          </div>
        </div>
        <div class="article-container">
          <div>
            <i class="fa-solid fa-people-carry-box nav-blue icon-size"></i>
            <p>Returns and refunds</p>
          </div>
        </div>
        <div class="article-container">
          <div>
            <i class="fa-solid fa-truck-fast nav-blue icon-size"></i>
            <p>Shipping and tracking</p>
          </div>
        </div>
        <div class="article-container">
          <div>
            <i class="fa-solid fa-file-invoice-dollar nav-blue icon-size"></i>
            <p>Fees and billing</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="bottom-head center">
      <h1>Need more help?</h1>
    </div>
    <div class="contact-card center">
      <i class="fa-regular fa-comments nav-blue icon-size"></i>
      <div class="left-margin">
        <h3 class="card-content-body">Contact Us</h3>
        <p>
          Get the help you need from our automated assistant. or contact an
          agent
        </p>
      </div>
    </div>

    <div class="bottom-head center">
      <h1>Other options for you</h1>
    </div>

    <div class="center">
      <div class="margin-bottom">
        <span class="nav-blue banner-body">Ask the community</span>
        <i class="fa-solid fa-arrow-right nav-blue"></i>
      </div>
      <div class="margin-bottom">
        <span class="nav-blue banner-body">Start a return</span>
        <i class="fa-solid fa-arrow-right nav-blue"></i>
      </div>
      <div class="margin-bottom">
        <span class="nav-blue banner-body">Report an item that hadn't arrived</span>
        <i class="fa-solid fa-arrow-right nav-blue"></i>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <div class="links">
      <a href="#">About eBay</a>
      <a href="#">Announcements</a>
      <a href="#">Community</a>
      <a href="#">Security Center</a>
      <a href="#">Seller Information Center</a>
      <a href="#">Policies</a>
      <a href="#">Affiliates</a>
      <a href="#">Help & Contact</a>
      <a href="#">Site Map</a>
    </div>
    <div class="copyrights">
      <p>
        Copyright © 1995-2024 eBay Inc. All Rights Reserved
        <a href="#">Accessibility,</a>
        <a href="#">User Agreement,</a>
        <a href="#">Privacy,</a>
        <a href="#">Payments Terms of Use,</a>
        <a href="#">Cookies,</a>
        <a href="#">CA Privacy Notice,</a>
        <a href="#">Your Privacy Choices, </a>
        and
        <a href="#"> AdChoice</a>
      </p>
    </div>
  </div>
  </div>
</body>

</html>