<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Elactronics, Cars, Fashion, Collectibles & more | eBay</title>
  </head>

  <body onload="loadPageFun()">
    <!-- top-nav -->

    <div class="first-nav">
      <div class="first-nav-sub">
        <p>
          Hi! <a href="signIn.html"> Sign in</a> or
          <a href="registration.html">register</a>
        </p>
        <a href="DailyDeals.html">Daily Deals</a>
        <a href="help.html">Help & Contact</a>
      </div>
      <div class="first-nav-sub">
        <a href="Sell.html">Sell</a>
        <div class="wth-lst">
          <a href="#">Watchlist<i class="ri-arrow-down-s-line"></i></a>
          <div class="watch-lst">
            <h2>
              Please <a href="signIn.html">sign in</a> to view items you are
              watching.
            </h2>
          </div>
        </div>

        <div class="my-ebay">
          <p>My eBay<i class="ri-arrow-down-s-line"></i></p>
          <div class="Mebay-ctg-box">
            <table class="Mebay-ctg">
              <tbody>
                <tr>
                  <td class="Mebay-ctg-td">
                    <ul>
                      <li><a href="#">Summary</a></li>
                      <li><a href="#">Recently Viewed</a></li>
                      <li><a href="#">Bids/Offers</a></li>
                      <li><a href="#">Watchlist</a></li>
                      <li><a href="#">Purchase History</a></li>
                      <li><a href="#">Buy Again</a></li>
                      <li><a href="Sell.html">Selling</a></li>
                      <li><a href="#">Saved Searches</a></li>
                      <li><a href="#">Saved Sellers</a></li>
                      <li><a href="#">Messages</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="ntf-sec">
          <a href="#"><i class="ri-notification-3-line"></i></a>
          <div class="ntf-box">
            <h2>
              Please <a href="signIn.html">sign in</a> to view notifications.
            </h2>
          </div>
        </div>

        <div class="cart-sec">
          <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
          <div class="cart-box">
            <h2>Your cart is empty</h2>
            <h3>Time to start shopping!</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- main-nav -->
    <div class="main-nav">
      <div class="logo">
        <img src="../assets/eBay-Logo.png" alt="" />
      </div>
      <div class="ctg">
        <p>Shop by <br />category<i class="ri-arrow-down-s-line"></i></p>
        <div class="ctg-box">
          <table class="gh-sbc">
            <tbody>
              <tr>
                <td class="gh-sbc-td">
                  <h3>
                    <a href="#"
                      >Collectibles & art<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Collectibles</a></li>
                    <li><a href="#">Antiques</a></li>
                    <li><a href="#">Sports memorabilia</a></li>
                    <li><a href="#">Art</a></li>
                  </ul>
                  <h3>
                    <a href="#"
                      >Electronics<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Computers & tablets</a></li>
                    <li><a href="#">Cameras & photo</a></li>
                    <li><a href="#">TV, audio & surveillance</a></li>
                    <li><a href="#">Cell phones & accessories</a></li>
                  </ul>
                  <h3>
                    <a href="#">Fashion<i class="ri-arrow-right-s-line"></i></a>
                  </h3>
                  <ul>
                    <li><a href="mobiles.html">Men</a></li>
                    <li><a href="luxury.html">Jewelry & watches </a></li>
                    <li><a href="snekers.html">Shoes</a></li>
                  </ul>
                </td>

                <td class="gh-sbc-td">
                  <h3>
                    <a href="#"
                      >Home & garden<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Yard, garden & outdoor</a></li>
                    <li><a href="#">Crafts</a></li>
                    <li><a href="#">Home improvement</a></li>
                    <li><a href="#">Pet supplies</a></li>
                  </ul>
                  <h3>
                    <a href="#"
                      >Auto Parts & Accessories
                      <i class="ri-arrow-right-s-line"></i>
                    </a>
                  </h3>
                  <ul>
                    <li><a href="#">GPS & Security Devices</a></li>
                    <li><a href="#">Radar & Laser Detectors</a></li>
                    <li><a href="#">Care & Detailing</a></li>
                    <li><a href="#">Scooter Parts & Accessories</a></li>
                  </ul>
                  <h3>
                    <a href="#"
                      >Musical instruments & gear<i
                        class="ri-arrow-right-s-line"
                      ></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Guitar</a></li>
                    <li><a href="#">Pro audio equipment</a></li>
                    <li><a href="#">String</a></li>
                    <li><a href="#">Stage lighting & effects</a></li>
                  </ul>
                </td>

                <td class="gh-sbc-td">
                  <h3>
                    <a href="snekers.html"
                      >Sporting goods<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Outdoor sports</a></li>
                    <li><a href="#">Team sports</a></li>
                    <li><a href="#">Exercise & fitness</a></li>
                    <li><a href="#">Golf</a></li>
                  </ul>
                  <h3>
                    <a href="#"
                      >Toys & hobbies<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Radio control</a></li>
                    <li><a href="#">Kids toys</a></li>
                    <li><a href="#">Action figures</a></li>
                    <li><a href="#">Dolls & bears</a></li>
                  </ul>
                  <h3>
                    <a href="#"
                      >Other categories<i class="ri-arrow-right-s-line"></i
                    ></a>
                  </h3>
                  <ul>
                    <li><a href="#">Video games & consoles</a></li>
                    <li><a href="#">Health & beauty</a></li>
                    <li><a href="#">Baby</a></li>
                    <li><a href="#">Business & industrial</a></li>
                  </ul>
                  <h3 id="sac-hdn"><a href="#">See all categories</a></h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="search-box">
        <i class="ri-search-line"></i>
        <input
          id="search-bar"
          type="search"
          placeholder="Search for anything"
        />
        <div class="ctg-btn">
          <p>All Categories</p>
          <i class="ri-arrow-down-s-line"></i>
          <div class="ac-ctg-box">
            <table class="gh-ac">
              <tbody>
                <tr>
                  <td class="gh-ac-td">
                    <ul>
                      <li><a href="#">All Categories</a></li>
                      <li><a href="#">-------------------</a></li>
                      <li><a href="#">Art</a></li>
                      <li><a href="#">Antiques</a></li>
                      <li><a href="#">Action figures</a></li>
                      <li><a href="#">Baby</a></li>
                      <li><a href="#">Business & industrial</a></li>
                      <li><a href="#">Crafts</a></li>
                      <li><a href="#">Care & Detailing</a></li>
                      <li><a href="#">Collectibles</a></li>
                      <li><a href="#">Computers & tablets</a></li>
                      <li><a href="#">Cameras & photo</a></li>
                      <li><a href="#">Cell phones & accessories</a></li>
                      <li><a href="#">Dolls & bears</a></li>
                      <li><a href="#">Exercise & fitness</a></li>
                      <li><a href="#">Golf</a></li>
                      <li><a href="#">Guitar</a></li>
                      <li><a href="#">GPS & Security Devices</a></li>
                      <li><a href="#">Home improvement</a></li>
                      <li><a href="#">Health & beauty</a></li>
                      <li><a href="#">Jewelry & watches </a></li>
                      <li><a href="#">Kids toys</a></li>
                      <li><a href="snekers.html">Men</a></li>
                      <li><a href="#">Outdoor sports</a></li>
                      <li><a href="#">Pet supplies</a></li>
                      <li><a href="#">Pro audio equipment</a></li>
                      <li><a href="#">Radio control</a></li>
                      <li><a href="#">Radar & Laser Detectors</a></li>
                      <li><a href="snekers.html">Shoes</a></li>
                      <li><a href="#">String</a></li>
                      <li><a href="#">Scooter Parts & Accessories</a></li>
                      <li><a href="#">Stage lighting & effects</a></li>
                      <li><a href="#">Sports memorabilia</a></li>
                      <li><a href="#">Team sports</a></li>
                      <li><a href="#">TV, audio & surveillance</a></li>
                      <li><a href="#">Video games & consoles</a></li>
                      <li><a href="luxury.html">Women</a></li>
                      <li><a href="#">Yard, garden & outdoor</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="search-btn">
        <p>Search</p>
      </div>
      <div class="advance">
        <p>Advanced</p>
      </div>
    </div>

    <div class="container">
      <div class="categories-sec">
        <ul>
          <li><a href="#">Saved</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Motors</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Collectibles & Art</a></li>
          <li><a href="#">Sprts</a></li>
          <li><a href="#">Health & Beauty</a></li>
          <li><a href="#">Industrial equipment</a></li>
          <li><a href="#">Home & Garden</a></li>
          <li><a href="#">Deals</a></li>
          <li><a href="#">Sell</a></li>
        </ul>
      </div>

      <div class="slideshow-container">
        <div class="mySlides">
          <img
            src="https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/grwAAOSwpB5mGOgh/$_57.JPG"
          />
        </div>

        <div class="mySlides fade">
          <img
            src="https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/dHUAAOSwjhxmGO1J/$_57.JPG"
          />
        </div>

        <div class="dif-hero-title">
          <h1>
            Find it, sell it, <br />
            trade it, love it
          </h1>
          <p>Discover best-loved, unique and hard to find cards here</p>
          <button class="see-all-btn">Get all cards</button>
        </div>
      </div>

      <!-- product-card-row1 -->
      <div class="product-cards-sec">
        <div class="product-card-sec-h">
          <h1>Your Recently Viewed Items</h1>
        </div>
        <div class="sm-cards">
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/Hd8AAOSwKmZhodSy/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Pokemon VMAX - Choose Your Card - All Available, Ultra Rare, Full
              Art Holo TCG </a
            ><br />
            <a class="price" href="#">&#x24;299.95</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/~p4AAOSwXChmBnRv/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Yu-Gi-Oh! Duel Monsters 25th EX Reprint Edition Tokyo Dome
              Limited Box Sealed</a
            ><br />
            <a class="price" href="#">&#x24;42.00</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/Nd8AAOSwnHdmPHZe/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Shiny Treasure ex Booster Box High Class Pack Pokemon Card
              Japanese..</a
            ><br />
            <a class="price" href="#">&#x24;42.75</a>
          </div>
        </div>
      </div>

      <!-- product-card-row2 -->
      <div class="product-cards-sec">
        <div class="product-card-sec-h">
          <h1>Sealed Collectible Card Game Boxes</h1>
        </div>
        <div class="sm-cards" id="scroller-div">
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/~p4AAOSwXChmBnRv/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Yu-Gi-Oh! Duel Monsters 25th EX Reprint Edition Tokyo Dome
              Limited </a
            ><br />
            <a class="price" href="#">&#x24;41.99</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/NO8AAOSwkQhl-s30/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Yu-Gi-Oh! Duel Monsters 25th EX Reprint Edition Limited Box 2024
              Tokyo Dome </a
            ><br />
            <a class="price" href="#">&#x24;39.99</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/fmwAAOSwr7hlvgZ0/s-l500.webp"
              alt=""
            />
            <a href="#">
              Yu Gi Oh Duel Monsters EX Reprint The Legend of Duelist Japanese </a
            ><br />
            <a class="price" href="#">&#x24;42.97</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/DiQAAOSwQd1l6UEX/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Yu-Gi-Oh! Duel Monsters 25th EX Reprint Edition Tokyo Dome
              Limited Box TCG </a
            ><br />
            <a class="price" href="#">&#x24;44.79</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/6pAAAOSwa8ZmPlCb/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Shiny Treasure EX Booster Box SEALED Japanese Pokémon Sv4a 2023
              US SELLER </a
            ><br />
            <a class="price" href="#">&#x24;40.99</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/Uo8AAOSwbtdlvHyr/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Pokémon Shiny Treasure EX Booster Box - Japanese Sv4a - 2023 US
              SELLER! </a
            ><br />
            <a class="price" href="#">&#x24;39.79</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/nzgAAOSw6bNmRNTV/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Pokemon Card Shiny Treasure ex booster box sv4a High Class pack
              Korean Ver. </a
            ><br />
            <a class="price" href="#">&#x24;31.76</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/-3oAAOSw13lmHqxC/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Pokemon TCG Twilight Masquerade Booster Bundle Box Factory Sealed </a
            ><br />
            <a class="price" href="#">&#x24;22.38</a>
          </div>
          <div class="pd-cards">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/QtcAAOSwQ6ll-8wN/s-l500.webp"
              alt=""
            />
            <a href="#"
              >Pokémon Scarlet & Violet - Shiny Treasure ex Booster Box
              (Japanese) USA Shipping </a
            ><br />
            <a class="price" href="#">&#x24;44.85</a>
          </div>
        </div>
      </div>

      <!-- product-card-row3 -->
      <div class="rd-cards-sec">
        <div class="product-card-sec-h">
          <h1>Explore Popular Categorie</h1>
        </div>
        <div class="rounded-cards-div">
          <div class="rounded-cards">
            <img
              src="https://ir.ebaystatic.com/cr/v/c01/01_PopularDestination_Luxury.jpg"
              alt=""
            />
            <a href="luxury.html">Luxury</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://ir.ebaystatic.com/cr/v/c01/02_PopularDestination_Sneakers.jpg"
              alt=""
            />
            <a href="snekers.html">Sneakers</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://m.media-amazon.com/images/I/71v2jVh6nIL._SX679_.jpg"
              alt=""
            />
            <a href="mobiles.html">Mobiles</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://i.ebayimg.com/images/g/RG0AAOSwJW5mTG79/s-l960.webp"
              alt=""
            />
            <a href="#">Refurbished</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://ir.ebaystatic.com/cr/v/c01/05_PopularDestination_Cards.jpg"
              alt=""
            />
            <a href="#">Trading cards</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://ir.ebaystatic.com/cr/v/c01/06_PopularDestination_PreLoved.jpg"
              alt=""
            />
            <a href="#">Pre-loved Luxury</a>
          </div>
          <div class="rounded-cards">
            <img
              src="https://ir.ebaystatic.com/cr/v/c01/07_PopularDestination_Toys.jpg"
              alt=""
            />
            <a href="#">Toys</a>
          </div>
        </div>
      </div>

      <!-- hero-sec-1 -->
      <div class="hero-container">
        <div class="hero-img-sec">
          <img
            src="https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/PPAAAOSwjVpmGOnR/$_57.JPG"
          />
        </div>
        <div class="hero-container-title">
          <h1>it's your turn</h1>
          <p>Discover what you need for next game on eBay</p>
          <button class="hero-brown-btn">Collect yours own</button>
        </div>
      </div>

      <!-- hero-sec-2 -->
      <div class="hero-container-2">
        <div class="hero-2-title">
          <h1>Expand your collection</h1>
          <p>
            Discover a wide range of comic books, <br />
            cards and action figures!
          </p>
          <button class="hero-2-btn">Shop now</button>
        </div>
        <div class="hero-img-div">
          <img
            src="https://i.ebayimg.com/00/s/NDMwWDE2MDA=/z/jMkAAOSwLMZmGO5W/$_57.JPG"
          />
        </div>
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="links">
        <a href="#">About eBay</a>
        <a href="#">Announcements</a>
        <a href="#">Community</a>
        <a href="#">Security Center</a>
        <a href="#">Seller Information Center</a>
        <a href="#">Policies</a>
        <a href="#">Affiliates</a>
        <a href="#">Help & Contact</a>
        <a href="#">Site Map</a>
      </div>
      <div class="copyrights">
        <p>
          Copyright © 1995-2024 eBay Inc. All Rights Reserved
          <a href="#">Accessibility,</a>
          <a href="#">User Agreement,</a>
          <a href="#">Privacy,</a>
          <a href="#">Payments Terms of Use,</a>
          <a href="#">Cookies,</a>
          <a href="#">CA Privacy Notice,</a>
          <a href="#">Your Privacy Choices, </a>
          and
          <a href="#"> AdChoice</a>
        </p>
      </div>
    </div>
  </body>
  <script src="../script/index.js"></script>
</html>
