<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/luxury.css" />
    <title>Luxury on eBay product for sale</title>
  </head>
  <body>
    <!-- top-nav -->

    <div class="first-nav">
      <div class="first-nav-sub">
        <p>
          Hi! <a href="signIn.html"> Sign in</a> or
          <a href="registration.html">register</a>
        </p>
        <a href="DailyDeals.html">Daily Deals</a>
        <a href="help.html">Help & Contact</a>
      </div>
      <div class="first-nav-sub">
        <a href="Sell.html">Sell</a>
        <div class="wth-lst">
          <a href="#">Watchlist<i class="ri-arrow-down-s-line"></i></a>
          <div class="watch-lst">
            <h2>
              Please <a href="#">sign in</a> to view items you are watching.
            </h2>
          </div>
        </div>

        <div class="my-ebay">
          <p>My eBay<i class="ri-arrow-down-s-line"></i></p>
          <div class="Mebay-ctg-box">
            <table class="Mebay-ctg">
              <tbody>
                <tr>
                  <td class="Mebay-ctg-td">
                    <ul>
                      <li><a href="#">Summary</a></li>
                      <li><a href="#">Recently Viewed</a></li>
                      <li><a href="#">Bids/Offers</a></li>
                      <li><a href="#">Watchlist</a></li>
                      <li><a href="#">Purchase History</a></li>
                      <li><a href="#">Buy Again</a></li>
                      <li><a href="#">Selling</a></li>
                      <li><a href="#">Saved Searches</a></li>
                      <li><a href="#">Saved Sellers</a></li>
                      <li><a href="#">Messages</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="ntf-sec">
          <a href="#"><i class="ri-notification-3-line"></i></a>
          <div class="ntf-box">
            <h2>Please <a href="#">sign in</a> to view notifications.</h2>
          </div>
        </div>

        <div class="cart-sec">
          <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
          <div class="cart-box">
            <h2>Your cart is empty</h2>
            <h3>Time to start shopping!</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- main-nav -->
    <div class="container">
      <div class="main-nav">
        <div class="logo">
          <img src="./assets/images/eBay-Logo.png" alt="" />
        </div>
        <div class="ctg">
          <p>Shop by <br />category<i class="ri-arrow-down-s-line"></i></p>
          <div class="ctg-box">
            <table class="gh-sbc">
              <tbody>
                <tr>
                  <td class="gh-sbc-td">
                    <h3>
                      <a href="#"
                        >Collectibles & art<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Collectibles</a></li>
                      <li><a href="#">Antiques</a></li>
                      <li><a href="#">Sports memorabilia</a></li>
                      <li><a href="#">Art</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Electronics<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Computers & tablets</a></li>
                      <li><a href="#">Cameras & photo</a></li>
                      <li><a href="#">TV, audio & surveillance</a></li>
                      <li><a href="#">Cell phones & accessories</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Fashion<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Women</a></li>
                      <li><a href="#">Men</a></li>
                      <li><a href="#">Jewelry & watches </a></li>
                      <li><a href="#">Shoes</a></li>
                    </ul>
                  </td>

                  <td class="gh-sbc-td">
                    <h3>
                      <a href="#"
                        >Home & garden<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Yard, garden & outdoor</a></li>
                      <li><a href="#">Crafts</a></li>
                      <li><a href="#">Home improvement</a></li>
                      <li><a href="#">Pet supplies</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Auto Parts & Accessories<i
                          class="ri-arrow-right-s-line"
                        ></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">GPS & Security Devices</a></li>
                      <li><a href="#">Radar & Laser Detectors</a></li>
                      <li><a href="#">Care & Detailing</a></li>
                      <li><a href="#">Scooter Parts & Accessories</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Musical instruments & gear<i
                          class="ri-arrow-right-s-line"
                        ></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Guitar</a></li>
                      <li><a href="#">Pro audio equipment</a></li>
                      <li><a href="#">String</a></li>
                      <li><a href="#">Stage lighting & effects</a></li>
                    </ul>
                  </td>

                  <td class="gh-sbc-td">
                    <h3>
                      <a href="#"
                        >Sporting goods<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Outdoor sports</a></li>
                      <li><a href="#">Team sports</a></li>
                      <li><a href="#">Exercise & fitness</a></li>
                      <li><a href="#">Golf</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Toys & hobbies<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Radio control</a></li>
                      <li><a href="#">Kids toys</a></li>
                      <li><a href="#">Action figures</a></li>
                      <li><a href="#">Dolls & bears</a></li>
                    </ul>
                    <h3>
                      <a href="#"
                        >Other categories<i class="ri-arrow-right-s-line"></i
                      ></a>
                    </h3>
                    <ul>
                      <li><a href="#">Video games & consoles</a></li>
                      <li><a href="#">Health & beauty</a></li>
                      <li><a href="#">Baby</a></li>
                      <li><a href="#">Business & industrial</a></li>
                    </ul>
                    <h3 id="sac-hdn"><a href="#">See all categories</a></h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="search-box">
          <i class="ri-search-line"></i>
          <input
            id="search-bar"
            type="search"
            placeholder="Search for anything"
          />
          <div class="ctg-btn">
            <p>All Categories</p>
            <i class="ri-arrow-down-s-line"></i>
            <div class="ac-ctg-box">
              <table class="gh-ac">
                <tbody>
                  <tr>
                    <td class="gh-ac-td">
                      <ul>
                        <li><a href="#">All Categories</a></li>
                        <li><a href="#">-------------------</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Antiques</a></li>
                        <li><a href="#">Action figures</a></li>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Business & industrial</a></li>
                        <li><a href="#">Crafts</a></li>
                        <li><a href="#">Care & Detailing</a></li>
                        <li><a href="#">Collectibles</a></li>
                        <li><a href="#">Computers & tablets</a></li>
                        <li><a href="#">Cameras & photo</a></li>
                        <li><a href="#">Cell phones & accessories</a></li>
                        <li><a href="#">Dolls & bears</a></li>
                        <li><a href="#">Exercise & fitness</a></li>
                        <li><a href="#">Golf</a></li>
                        <li><a href="#">Guitar</a></li>
                        <li><a href="#">GPS & Security Devices</a></li>
                        <li><a href="#">Home improvement</a></li>
                        <li><a href="#">Health & beauty</a></li>
                        <li><a href="#">Jewelry & watches </a></li>
                        <li><a href="#">Kids toys</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Outdoor sports</a></li>
                        <li><a href="#">Pet supplies</a></li>
                        <li><a href="#">Pro audio equipment</a></li>
                        <li><a href="#">Radio control</a></li>
                        <li><a href="#">Radar & Laser Detectors</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">String</a></li>
                        <li><a href="#">Scooter Parts & Accessories</a></li>
                        <li><a href="#">Stage lighting & effects</a></li>
                        <li><a href="#">Sports memorabilia</a></li>
                        <li><a href="#">Team sports</a></li>
                        <li><a href="#">TV, audio & surveillance</a></li>
                        <li><a href="#">Video games & consoles</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Yard, garden & outdoor</a></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="search-btn">
          <p>Search</p>
        </div>
        <div class="advance">
          <p>Advanced</p>
        </div>
      </div>

      <!-- page-index -->
      <div class="page-index">
        <a href="index.html" id="pg-1">eBay</a>
        <i class="ri-arrow-right-s-line"></i>
        <a href="luxury.html" id="pg-2">luxury on eBay</a>
      </div>

      <div class="header">
        <img
          src="https://i.ebayimg.com/images/g/hXUAAOSwS6hlNq76/s-l1600.webp"
          alt=""
        />
        <div class="banner-title">
          <h1>Irresistible luxury from head to toe</h1>
          <h2>
            Rare sneakers, jewelry and bags by the world's leading designers.
          </h2>
        </div>
      </div>
      <!-- nav & product sec -->
      <div class="sub-container">
        <div class="left-part">
          <div class="nav-parts">
            <h3>Shop by Brand</h3>
            <a href="#">Watches</a>
            <a href="#">Balenciaga</a>
            <a href="#">Bretling</a>
          </div>
          <div class="nav-parts">
            <h3>Shop by Category</h3>
            <a href="#">Luxury Watches</a>
            <a href="#">Designer Handbags</a>
            <a href="#">Fine Jewelry</a>
          </div>
        </div>

        <div class="right-part">
          <div class="big-card-sec">
            <div class="sub-card">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/GAMAAOSwTGRleUol/s-l640.webp"
                alt=""
              />
              <div class="sub-card-name">
                <a href="#">Irresistible Watches</a>
              </div>
            </div>
            <div class="sub-card">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/0SIAAOSw7wZleUov/s-l640.webp"
                alt=""
              />
              <div class="sub-card-name">
                <a href="#">Luxury branded bags</a>
              </div>
            </div>
            <div class="sub-card">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/~pcAAOSwUVJleUo7/s-l640.webp"
                alt=""
              />
              <div class="sub-card-name">
                <a href="#">Dazzling jewelry selection</a>
              </div>
            </div>
          </div>

          <!-- product-card-row1 -->
          <div class="product-cards-sec" id="watches">
            <div class="product-card-sec-h">
              <h1>Shop Luxury Watches by Brand</h1>
            </div>
            <div class="products" id="pd-1"></div>
          </div>

          <!-- product-card-row2 -->
          <div class="product-cards-sec" id="bags">
            <div class="product-card-sec-h">
              <h1>Shop Luxury Bags by Brand</h1>
            </div>
            <div class="products" id="pd-2"></div>
          </div>

          <!-- product-card-row3 -->
          <div class="product-cards-sec">
            <div class="product-card-sec-h">
              <h1>Shop Fine Jewelry by Brand</h1>
            </div>
            <div class="products" id="pd-3"></div>
          </div>

          <!-- hero-sec-1 -->
          <div class="hero-sec">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/-gMAAOSwsXdlNrRR/s-l1200.webp"
              alt=""
            />
          </div>

          <!-- hero-sec-2 -->
          <div class="hero-sec">
            <img
              src="https://i.ebayimg.com/thumbs/images/g/3MQAAOSw4E1lNrTe/s-l1200.webp"
              alt=""
            />
          </div>

          <!-- bottom-big-cards -->
          <div class="bottom-card-sec">
            <div class="bt-cards">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/LwkAAOSwMIJlNrm3/s-l640.webp"
                alt=""
              />
            </div>
            <div class="bt-cards">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/p1EAAOSwFallNrm~/s-l640.webp"
                alt=""
              />
            </div>
            <div class="bt-cards">
              <img
                src="https://i.ebayimg.com/thumbs/images/g/RlkAAOSwXzFlNrnF/s-l640.webp"
                alt=""
              />
            </div>
          </div>

          <!-- bottom-content -->
          <div class="bottom-content">
            <h2>Stylish Accessories: Handbags, Shoes, and Sunglasses</h2>
            <p>
              Celebrities like Lady Gaga who remain loyal Hedi Slimane
              followers, followed him from Saint Laurent and rocked the first
              Hedi Slimane for Celine bag. The classic
              <a href="#">Neverfull</a> bag by <a href="#">Louis Vuitton</a> is
              a good addition to your handbag collection. A bright-colored belt
              bag by Supreme will surely make you stand out in a crowd.
              Thousands of people wait for the next sneaker to drop. Brands like
              Nike and adidas are known for their collaborations with Virgil
              Abloh and Kanye West, but brands like <a href="#">Gucci</a> and
              <a href="#">Balenciaga</a> have a loyal fashion following for
              their sneakers too.
            </p>
            <h2>It's Time for Luxury Watches and Jewelry</h2>
            <p>
              What better way to maintain a bit of sparkle and sophistication
              than with a Cartier or <a href="#">David Yurman</a> bracelet?
              Vintage <a href="#">Chanel</a> necklaces or Fendi statement
              earrings are popular sellers, as are pre-loved
              <a href="#">Tiffany and Co.</a> rings. A dress watch from
              <a href="#">Rolex</a> is a good start, or a Patek Philippe with
              over 174 years of history and tradition.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div class="footer">
      <div class="links">
        <a href="#">About eBay</a>
        <a href="#">Announcements</a>
        <a href="#">Community</a>
        <a href="#">Security Center</a>
        <a href="#">Seller Information Center</a>
        <a href="#">Policies</a>
        <a href="#">Affiliates</a>
        <a href="help.html">Help & Contact</a>
        <a href="#">Site Map</a>
      </div>
      <div class="copyrights">
        <p>
          Copyright © 1995-2024 eBay Inc. All Rights Reserved
          <a href="#">Accessibility,</a>
          <a href="#">User Agreement,</a>
          <a href="#">Privacy,</a>
          <a href="#">Payments Terms of Use,</a>
          <a href="#">Cookies,</a>
          <a href="#">CA Privacy Notice,</a>
          <a href="#">Your Privacy Choices, </a>
          and
          <a href="#"> AdChoice</a>
        </p>
      </div>
    </div>
  </body>
  <script src="../script/LuxuryProducts.js"></script>
</html>