* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  
  /* -----top-nav----- */
  
  .first-nav {
    height: 31px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #e8e8e8;
    padding: 0 32px;
  }
  
  .first-nav-sub {
    font-size: 12px;
    height: 100%;
    width: 22%;
    gap: 25px;
    display: flex;
    align-items: center;
  }
  
  .first-nav-sub a {
    color: #000000;
    text-decoration: none;
  }
  .first-nav-sub a > i {
    font-size: 15px;
  }
  .first-nav-sub a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .first-nav-sub p > a {
    color: #0654ba;
  }
  
  .first-nav-sub > i {
    font-size: 20px;
    font-weight: 600;
  }
  .wth-lst {
    position: relative;
    display: block;
  }
  .wth-lst:hover .watch-lst {
    display: flex;
  }
  .watch-lst {
    position: absolute;
    height: 80px;
    width: 480px;
    z-index: 1;
    top: 23px;
    right: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .watch-lst > h2 {
    font-size: 20px;
    font-weight: 500;
    color: #767676;
  }
  .watch-lst > h2 > a {
    color: #000000;
    font-weight: 700;
  }
  .my-ebay {
    position: relative;
  }
  .my-ebay:hover {
    cursor: pointer;
  }
  .my-ebay:hover .Mebay-ctg-box {
    display: block;
    cursor: pointer;
  }
  .Mebay-ctg-box {
    position: absolute;
    height: 280px;
    width: 180px;
    top: 110%;
    left: 1%;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .Mebay-ctg {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
  }
  tr {
    padding: 15px;
  }
  td {
    width: 200px;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 15px;
  }
  .Mebay-ctg-td ul {
    list-style: none;
  }
  .Mebay-ctg-td ul li {
    margin: 10px 0;
  }
  .Mebay-ctg ul li > a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
  }
  .Mebay-ctg a:hover {
    text-decoration: underline;
  }
  
  .ntf-sec {
    position: relative;
  }
  .ntf-sec:hover .ntf-box {
    display: flex;
  }
  .ntf-box {
    position: absolute;
    height: 250px;
    width: 330px;
    z-index: 1;
    top: 23px;
    right: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .ntf-box > h2 {
    font-size: 18px;
    font-weight: 400;
    color: #767676;
  }
  .ntf-box > h2 > a {
    color: #000000;
    font-weight: 500;
  }
  
  .cart-sec {
    position: relative;
  }
  .cart-sec:hover .cart-box {
    display: block;
  }
  .cart-box {
    position: absolute;
    height: 70px;
    width: 220px;
    z-index: 1;
    top: 23px;
    right: 0px;
    display: none;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .cart-box > h2 {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
  }
  
  .cart-box > h3 {
    font-size: 13px;
    font-weight: 400;
    color: #767676;
  }
  /*----- main-nav -----*/
  
  .main-nav {
    height: 70px;
    width: 98%;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .logo {
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .ctg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .ctg:hover .ctg-box {
    display: block;
  }
  .ctg :hover {
    cursor: pointer;
    color: #0654ba;
  }
  .ctg-box {
    position: absolute;
    height: 480px;
    width: 650px;
    top: 110%;
    left: 1%;
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .gh-sbc {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
  }
  tr {
    padding: 15px;
  }
  td {
    width: 200px;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 15px;
  }
  .gh-sbc-td h3 > a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
  }
  .gh-sbc-td h3 a > i {
    font-size: 12px;
    font-weight: 600;
  }
  .gh-sbc-td ul {
    list-style: none;
    margin-bottom: 15px;
  }
  .gh-sbc-td ul li {
    margin: 5px 0;
  }
  .gh-sbc-td ul li > a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
  }
  .gh-sbc a:hover {
    text-decoration: underline;
  }
  #sac-hdn {
    margin-top: 20px;
  }
  #sac-hdn > a {
    font-size: 20px;
    color: #0654ba;
  }
  .search-box {
    height: 42px;
    width: 67.5%;
    border: 2px solid #434341;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-box > i {
    padding-left: 17px;
    font-size: 16px;
  }
  #search-bar {
    height: 100%;
    width: 80%;
    font-size: 16px;
    color: #767676;
    outline: none;
    border: none;
  }
  .ctg-btn {
    height: 100%;
    width: 15%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-left: 1.5px solid #e8e8e8;
    position: relative;
  }
  
  .ctg-btn > i {
    font-size: 15px;
  }
  .ctg-btn:hover {
    border: 2px solid black;
    border-radius: 3px;
  }
  .ctg-btn:hover .ac-ctg-box {
    display: block;
  }
  .ac-ctg-box {
    position: absolute;
    height: 300px;
    width: 210px;
    top: 110%;
    left: 1%;
    z-index: 1;
    display: none;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .gh-ac {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
  }
  tr {
    padding: 15px;
  }
  td {
    width: 200px;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 15px;
  }
  .gh-ac-td ul {
    list-style: none;
    margin-bottom: 15px;
  }
  .gh-ac-td ul li {
    margin: 5px 0;
  }
  .gh-ac-td ul li > a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
  }
  .gh-ac a:hover {
    text-decoration: underline;
  }
  
  .search-btn {
    height: 42px;
    width: 11%;
    text-align: center;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3665f3;
  }
  .search-btn:hover {
    cursor: pointer;
  }
  .advance {
    height: 100%;
    width: auto;
    font-size: 12px;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advance:hover {
    color: #0654ba;
    cursor: pointer;
  }
  
  /* -----page-index----- */
  
  .page-index {
    height: 55px;
    width: 98%;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .page-index > i {
    color: #767676;
    font-size: 18px;
  }
  .page-index > a {
    font-size: 13px;
    text-decoration: none;
    color: black;
  }
  .page-index > a:hover {
    text-decoration: underline;
    color: #0654ba;
  }
  /* -----header-sec----- */
  
  .header {
    height: 194px;
    width: 98%;
    margin: 6px 15px;
    position: relative;
  }
  
  .header > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner-title {
    width: 30%;
    height: 100%;
    padding: 15px 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.3;
  }
  .banner-title > h1 {
    font-size: 28px;
    letter-spacing: 0.6px;
    margin-bottom: 9px;
  }
  .banner-title > h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  
  /* -----nav & product----- */
  
  .sub-container {
    width: 98%;
    margin: 28px 1%;
    display: flex;
    justify-content: space-between;
  }
  .left-part {
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .nav-parts {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .nav-parts > h3 {
    font-size: 15px;
    margin-bottom: 6px;
  }
  .nav-parts > a {
    font-size: 13px;
    color: black;
    text-decoration: none;
  }
  .nav-parts > a:hover {
    text-decoration: underline;
  }
  .right-part {
    width: 85%;
    height: 100%;
  }
  .big-card-sec {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .sub-card {
    height: 100%;
    width: 32%;
    border-bottom: 1px solid #e8e8e8;
  }
  .sub-card > img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  .sub-card-name > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 20px;
  }
  .sub-card-name > a:hover {
    text-decoration: underline;
  }
  /* -----product-cards----- */
  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 300px);
    gap: 20px;
  }
  .products > div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 8px 2px;
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border-radius: 10px;
  }
  .products > div > button {
    padding: 10px 10px;
    border: none;
    background-color: rgb(255, 106, 0);
    border-radius: 10px;
    color: white;
  }
  .products > div > h3 {
    font-size: 15px;
    font-weight: 500;
  }
  .products > div > img {
    width: 98%;
    height: 70%;
    border-radius: 5px;
  }
  .products > div > p {
    font-size: 18px;
    font-weight: 600;
  }
  .products > div > h3:hover {
    text-decoration: underline;
  }
  .products > div > img:hover {
    border: 2px solid #e8e8e8;
  }
  .products > div:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /* -------------------------- */
  /* -----product-cards----- */
  
  .product-cards-sec {
    height: 670px;
    width: 100%;
    display: flex;
    gap: 13px;
    margin: 12px 0;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
  }
  .product-card-sec-h {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }
  .product-card-sec-h > h1 {
    font-size: 25px;
  }
  
  /* -----Hero-sec----- */
  
  .hero-sec {
    height: 330px;
    width: 100%;
    margin: 25px 0px;
    overflow: hidden;
    padding: 5px;
  }
  .hero-sec a > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  
  /* -----bottom-big-card----- */
  .bottom-card-sec {
    height: 330px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .bt-cards {
    width: 32%;
    height: 100%;
    border-bottom: 2px solid #e5e5e5;
  }
  .bt-cards > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* -----bottom-content----- */
  
  .bottom-content {
    height: 220px;
    width: 99%;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.4;
    border-bottom: 1px solid #e8e8e8;
  }
  .bottom-content h2 {
    font-size: 15px;
    margin: 12px 0;
  }
  
  .bottom-content p {
    font-size: 14px;
    font-weight: 500;
  }
  .bottom-content p a {
    color: #0654ba;
  }
  
  /* -----footer----- */
  .footer {
    height: 150px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e8e8e8;
  }
  .links {
    height: 27px;
    width: 84%;
    display: flex;
    gap: 18px;
    padding-left: 3px;
    align-items: center;
  }
  .links a {
    text-decoration: none;
    color: #767676;
    font-size: 12px;
  }
  
  .copyrights {
    height: 27px;
    width: 84%;
    padding-left: 3px;
    display: flex;
    gap: 18px;
    align-items: center;
  }
  .copyrights p {
    font-size: 12px;
  }
  .copyrights p a {
    color: #767676;
    font-size: 12px;
  }